body {
    margin: 0px;
    padding: 0px;
}

.center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.main-input-text {
    width: 50%;
}

.menubar {
    background-color: rgb(43, 49, 59);
    width: 100%;
    border:1px solid rgb(43, 49, 59);
    border-radius: 0;
}

.p-menuitem-text {
    color: whitesmoke !important;
}

.p-menuitem-icon {
    color: whitesmoke !important;
}

.p-submenu-icon {
    color: whitesmoke !important;
}

.experience {
    width: 100vw;
}