body {
    margin: 0px;
    padding: 0px;
    background-color: #dedede;
}

.center {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.main-input-text {
    width: 50%;
}

.menubar {
    background-color: rgb(43, 49, 59);
    width: 100%;
    border:1px solid rgb(43, 49, 59);
    border-radius: 0;
    padding-left: 3em;
    padding-right: 3em;
}

.p-menuitem-text {
    color: whitesmoke !important;
}

.p-menuitem-icon {
    color: whitesmoke !important;
}

.p-submenu-icon {
    color: whitesmoke !important;
}


.experience {
    width: 100vw;
}

.centeredLogin {
    position: relative;
    top: 45px;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centeredLoginInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    width: 20%;
    min-width: 100px;
}

.submitBtnParent{
    width: 20%;
    min-width: 100px;

}

.submitBtnParent > button{
    border: 1px solid rgb(43, 49, 59);
    width: 100%;
    padding: 12px;
    margin-top: 2em;
}

.p-submenu-list .p-menuitem-text {
    color: black !important;
}

.user-buttons {
    float: right !important;
    position: relative !important;
    margin-right: 5px;
    
}

.centered-experiences {
    display: flex;
    justify-content: center;
    margin: 2em;
}

.validation {
    color: red;
}

.card .p-dataview-content {
    background-color: #dedede;
}

.validator {
    display: flex;
    align-self: flex-start;
}

